* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #1e1e1e;
	color: aliceblue;
	margin: 5rem auto;
	font-size: clamp(24px, 6vw, 50px);
	text-align: center;
}

ul {
	list-style-type: none;
}
li {
	padding: 1rem;
}
